streamlit
plotly
pandas
google-generativeai


langchain
langchain-text-splitters
langchain-google-genai
langchain-community
langchain-pinecone
langchain-core

python-dotenv
pypdf
numpy
pinecone-client
unstructured
tiktoken
pypdf2
pydantic

