streamlit
plotly
pandas
langchain
langchain-text-splitters
langchain-google-genai
langchain-community
google-generativeai
python-dotenv
pypdf
numpy
pinecone-client
unstructured
tiktoken
pypdf2
langchain-pinecone
langchain-core
pydantic
